@model ThuenhatroClient.Models.User
@{
    ViewData["Title"] = "Xác nhận Email";
}
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
            <h3>Vui lòng xác thưc tài khoản Email</h3>
            <div class="Log">
                <form action="@Url.Action("ConfirmEmail", "User")" method="post" enctype="multipart/form-data">
                    <p>Xin chào <b>Lê Thanh Ân</b> bạn cần xác thực Email trước khi tiếp tục. Vui lòng nhập email của bạn vào bên dưới, chúng tồi sẽ gửi mã xác minh về cho bạn thông qua email này.</p>
                    <p>Email của bạn</p>
                    <input type="text" name="uid" placeholder="anlethanh048@gmail.com" />
                    <br />
                    <input style="margin-top:6px;width:260px;border-radius:3px;text-indent:0px;color:white;background-color:cadetblue" type="submit" value="Bấm vào đây để lấy mã, miễn phí"/>
                </form>
                <br />
                <p>Hãy gọi <b>0354072542</b> để được hổ trợ nếu bạn gặp khó khăn trong quá trình xác minh tài khoản.</p>
            </div>

            <div class="col-sm-2">
            </div>
            <div class="col-sm-1"></div>
        </div>
   
    </div>
        <br />
        <hr />
        <div class="GT">
            <div class="row" style="text-align:center">
                <div class="col-sm-12">
                    <h4>Bạn đang có phòng trọ / căn hộ cho thuê?</h4>
                    <br />
                    <p>Không phải lo tìm người cho thuê, phòng trống kéo dài</p>

                    <div style="width:100%;  background-color: #c60e25; padding:10px; margin-top:0px">
                        <a style="color:white;" href="#">Đăng tin ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="TCG">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <h5>Cho thuê phòng trọ</h5>
                        <ul>
                            <li><a href="#">Cho thuê phòng trọ TP.HCM</a></li>
                            <li> <a href="#">Cho thuê phòng trọ Đồng Nai</a></li>
                            <li><a href="#">Cho thuê phòng trọ Bình Dương</a></li>
                            <li><a href="#">Cho thuê phòng trọ Đà Nẵng</a></li>
                            <li> <a href="#">cho thuê phòng trọ Huế</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h5>Cho thuê nhà nguyên căn</h5>
                    <ul>
                        <li><a href="#">Cho thuê nhà nguyên căn TP.HCM</a></li>
                        <li> <a href="#">Cho thuê nhà nguyên căn Đồng Nai</a></li>
                        <li><a href="#">Cho thuê nhà nguyên căn Bình Dương</a></li>
                        <li><a href="#">Cho thuê nhà nguyên căn Đà Nẵng</a></li>
                        <li> <a href="#">Cho thuê nhà nguyên căn Huế</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5>Tìm người ở ghép</h5>
                    <ul>
                        <li><a href="#">Tìm người ở ghép TP.HCM</a></li>
                        <li> <a href="#">Tìm người ở ghép Đồng Nai</a></li>
                        <li><a href="#">Tìm người ở ghép Bình Dương</a></li>
                        <li><a href="#">Tìm người ở ghép Đà Nẵng</a></li>
                        <li> <a href="#">Tìm người ở ghép Huế</a></li>
                    </ul>
                </div>
            </div>
        </div>
 </div>
